<div class="bg-blue">
  <div class="mx-auto max-w-7xl py-3 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="flex  w-full lg:w-auto flex-1 items-center">
        <div class="font-medium text-white">
          <span class="text-lg text-white font-medium">Download our Android app in the Play Store, exclusively in Brazil.</span><br />
          <span class="text-base text-white">Follow us for updates and come visit us on Universidade Federal do Rio de Janeiro's campus</span>
        </div>
      </div>
      <div class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
        <a href="https://play.google.com/store/apps/details?id=xyz.bumpapp&hl=en-US&ah=-ltwSRTtpQ1ZSdqbfdtkodfZh30&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" width="200px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/></a>
      </div>
    </div>
  </div>
</div>